@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jeongnimsaji-R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Jeongnimsaji-R.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    font-family: 'akira';
    src: url(../font/AkiraExpandedDemo.otf);
}

@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chang';
    src: url(../font/ChangaOne-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

iframe{display: block; max-width: 100%;
}

figure{width: fit-content; height: fit-content;}

ul,li{
    list-style: none;
}

a{
    text-decoration: none; color: inherit;
}

@media screen and (max-width:1199px) {

    header ul li,
    header h1{
        width: 50%;
    }

    #top .slide {
        height: 100%;
    }

    #top .slide .banner .left figure img,
    #top .slide .banner .right{
        width: 100%;
        height: 100%;
    }

    .item .row {
        width: 98%;
    }

}

    

header{
    height: 10vh;
    background-color: #000;
    font-family: 'IAMAPLAYER';
    color: rgb(230, 226, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 0 8vh;
    max-width: 167px;
    max-height: 50px;
}

header ul{
    display: flex;
    margin: 0 10vh;
}

header ul li{
    justify-content: space-between;
    margin: 0 2vw;
    font-size: 1.1rem;
}

header ul li:last-child{
    margin-right: 0;
}


#top .slide{
    width: 100%;
}

#top .slide .banner .box{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}


#top .slide .banner .left,
#top .slide .banner .right{
    width: calc(100% - 50%);
    position: relative;
}



#top .slide .banner .box .right{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #788094;
    
}   

#top .slide .banner .box .right>h2{
    font-family: 'Holtwood One SC', serif;
    font-size: 4rem;
    font-weight: 900;
}



#top .slide .banner .box .right>p{
    padding: 5vw;
    font-size: 1.5vw;
    font-weight: 500;
    text-align:justify;
    font-family: 'IM Fell English', serif;
}

#top .slide .banner .aa{
    position: absolute;
    top: 10vh;
    left: 0;
}

.section1{
    max-width: 1400px;
    margin: auto 20vw;
    margin-top: 50vw;
}

.section1 .movi>* {
    font-family: 'akira';
    font-size: 5vw;
    text-align: center;
    position: relative;
}

.section1 .movi>h2{
    color: #F5BF48;
    text-shadow: 8px 0px 0 #000;
}


.section1 .movi .row .mv iframe{
    width: 100%;
    height: 70vh;
    margin-top: 10vh;
    margin-bottom: 20vw;
}

.item{
    margin: auto;
    font-family: 'IAMAPLAYER';
    margin-bottom: 20vw;
}


.item .row .col-3 h4{
    color: #F5BF48;
    height: 6vh;
}
.item .row .mrT{
    font-family: 'akira';
    font-size: 7vw;
    writing-mode: vertical-lr;
    text-align: center;
}

.item .row .mrT>p{
    font-family: 'akira';
    text-align: center;
    color: #F5BF48;
    text-shadow: 15px 18px 0px #000;
    
}

.section2{
    margin: auto;
    margin-bottom: 20vw;
}

.section2 .container>h2{
    font-family: 'akira';
    font-size: 5vw;
    text-align: center;
    text-shadow: -5px 0 0 #F5BF48;
}

.section2 .container .tab{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;  
}

.section2 .container .tab>h3{
    color: #788094;
    font-size: 2vw;
    font-family: 'Black Han Sans', sans-serif;
}

.section2 .container .tab button{
    border: none;
    display: block;
    background-color: transparent;
    font-size: 2vw;
    line-height: 70;
    color: #788094;
}

.section2 .container .row{
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.section2 .container .row .col-8>h3{
    font-family: 'akira';
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0 5px #000;
    margin: auto;
    margin-top: 200px;
    position: absolute;
}



.section2 .container .row .col-4>h4{
    font-family: 'chang';
    font-size: 2.5rem;
    margin-top: 12vh;   
}

.section2 .container .row .TL>h4{
    margin-left: 10vh;
    text-align: right;
}

.section2 .container .row .col-8 figure{
    max-width: 655px;
    max-height: 413px;
    margin-right: -20vh;
}

.section2 .container .row .right1 figure,
.section2 .container .row .right2 figure,
.section2 .container .row .left3 figure{
    padding: 0 14vh;
}

.section2 .container .row .right1>h3{
    margin-left: 40vh;
    margin-top: 35vh;
}

.section2 .container .row .right2>h3{
    margin-left: 52vh;
    margin-top: 35vh;

}

.section2 .container .row .left3>h3{
    margin-left: 49vh;
    margin-top: 35vh;
}

.section2 .container .row .right3>h3,
.section2 .container .row .left1>h3{
    margin-top: 35vh;
    margin-left: 5vh;
}


.section2 .container .row .col-4 button{
    border: 2px solid #F5BF48;
    border-radius: 0.6rem;
    padding: 2vh;
    cursor: pointer;
    line-height: 1;
    padding: 1.2em 3.5em;
    display: block;
    background-color: transparent;
    font-size: 2rem;
    align-items: center;
    font-family: 'IAMAPLAYER';
    margin: 3vh auto;
    color: #788094;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 100%;
        background: #F5BF48;
        z-index: -1;
        transition: width 150ms ease-in-out;
    }

    &:hover{
        color: #fff;
        &:after{
            width: 110%;
        }
    }

}


.section3 .container>h2{
    font-family: 'akira';
    font-size: 5vw;
    text-align: right;
    color: #F5BF48;
    text-shadow: -8px 0 0 #000;
}

.section3 .container .bar{
    background-color: #D9D9D9;
    height: 5vh;
}

.section3 .container .row{
    max-width: 1110px;
}


.section3 .container .row .col-6{
    margin: 1vw auto;
    border-bottom: 1px dashed #000;
}

.section3 .container .row .col-6>h5{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}

.section3 .container .row .tr{
    text-align: right;
}

footer{
    height: 40vh;
    background-color: #000;
    color: #fff;
    margin-top: 15vh;
    font-family: 'Jeongnimsaji-R';
}

footer .textF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vh;
    font-size: 1.3rem;
    
}

footer .textF>h4{
    font-size: 4rem;
    margin-top: 5vh;
    text-transform: uppercase;
}

footer span{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5vh;
}









